{% extends 'base.html' %}

{% block variableTitle %}
        Sobre Mi
      {% endblock %}
{% load static %}

{% block variableContent %}


    <!-- HOME -->
<div id="home">

    <div class="container-fluid last-posts">
      <h3 class="home-title" style="margin-bottom: 20px;">Sobre Mi y Pyblogs</h3>
      <div class="row">
        <div class="col-md-8">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h4 class="about-title">
                  Bienvenido a Pyblogs!
                </h4>
                <img src="../media/about.jpg" class="rounded float-end img-thumbnail" style="width: 200px; height: 200px; object-fit:cover; margin-left: 7px;">
                <p>
                  Este proyecto web nació gracias a CoderHouse y a su maravilloso curso de Python. Esto me brindó las herramientas y la habilidad necesaria para desarrollar funcionalidades deseadas y poder trabajar tanto en el Front como en el Back-End de un sitio totalmente personalizado y hecho a gusto.
                  Pyblogs se desarrolló como una web de tipo blog donde cualquiera puede crearse un usuario, un perfil, compartir lo que deseé y ver lo que los demás cuentan.
                </p>
                <h4 class="about-title">
                  Sobre Fernando Luna
                </h4>
                <p>
                  Mi nombre es Fernando Luna. Soy un muchacho de 23 años quien siempre tuvo un interés enorme por la informática, los videojuegos y principalmente su creación. Lamentablemente y por cuestiones de la vida, no pude ponerme a investigar e intentar como hubiera deseado mucho antes. Pero a mediados de 2019 me propuse aprender a programar, comencé con HTML, CSS y JavaScript, con la idea de migrar a otros lenguajes mas complejos, pero la vida me sorprendió y me enamoré de estas tecnologías y lo que podía lograr con ellas. 
                  Luego de una pausa de casi 3 años sin tocar código, este año 2022 decidí retomar mi viejo hobby, repasé conceptos de Front End, y decidí anotarme en un curso de Phyton, para ampliar conocimientos y buscar terrenos nuevos. Gracias a esto, hoy en día son capaces de visitar esta web. 
                  Espero que la disfruten y que tengan una buena vida. 
                </p>



                

              </div>
            </div>
          </div>
        </div>

            
      <!-- ASIDE -->


        <div class="col-md-4">
          <div class="container">

                <!-- CODER AD -->

                <div class="card bg-dark text-white coder-ad">
                  <a href="https://www.coderhouse.com/" target="_blank">
                    <img src="{% static 'img/aside.jpg' %}" class="card-img" alt="coder banner">
                  </a>
                </div>
                <!-- CODER AD -->

          </div>
        </div>
      </div>
      </div>
      <!-- ASIDE END -->


</div>      
      <!-- HOME END -->
    
    
      {% endblock %}