<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}">
    
    <!-- Bootstrap, FontAwesome & Text Editor -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#post_body'
      });
    </script>

    <title>
      {% block variableTitle %}
        Pyblogs
      {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'img/pyblog.svg' %}" type="image/x-icon">
</head>
<body>
 
    <!-- NAV -->

    <nav class="navbar navbar-expand-lg" id="nav">
        <div class="container">      
          <h1><a class="navbar-brand" href="/">Pyblogs</a></h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blogs/all">Blogs</a>
              </li>

            </ul>
            <form class="d-flex" role="search" method="GET" action="/blogs/search">
              <input class="form-control me-2" type="search" placeholder="Buscar posts" name="Search" required>
              <button class="btn" type="submit"><i class="bi bi-search busqueda"></i></button>
            </form>



            {% if user.is_authenticated %}

            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                <i class="bi bi-person-fill" style="color: white; font-size: 1.2em;"></i> {{user.profile.name}}
              </button>
              <ul class="dropdown-menu">
                <li><a href="../../user/logout/" class="dropdown-item" style="color: rgb(69, 11, 11);">Logout</a></li>
                <li><a class="dropdown-item" href="/user/{{user.username}}" style="color: black;">Mi Perfil</a></li>
                <li><a href="../../blogs/new/"><button type="button" class="dropdown-item">Nuevo Post<i class="bi bi-plus" style="color:rgb(0, 0, 0);"></i></button></a></li>
              </ul>
            </div>
            
            

            {% else %}


            <a href="#" class="btn btn-outline-light login-btn" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>

            {% endif %}
          


            <!-- botones logout y perfil -->

            <!-- <a href="profile.html" class="btn btn-outline-light" id="user"><i class="bi bi-person-fill"></i></i>username</a> -->
            <!-- <a href="#" class="btn btn-danger" id="logout"><i class="bi bi-box-arrow-left"></i></a> -->

          </div>
        </div>
      </nav>

    <!-- NAV END -->

    <!-- Modal login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="col-md-12" action="../../user/login/" method="POST">
          {%csrf_token%}
          
          <div class="mb-3">
            <label class="form-label">Usuario</label>
            <input type="text" class="form-control" name="username" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="show_hide_password" name="password" required>
          </div>
          <div class="modal-footer">
            <a href="../../user/register"><button type="button" class="btn btn-link" data-bs-dismiss="modal">Registrarse</button></a>
            <button type="submit" class="btn btn-success">Login</button>
          </div>
         </form>
      </div>
      
    </div>
  </div>
</div>




<!-- CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-12">

    
{% block variableContent %}











{% endblock %}

    </div>
  </div>
</div>

<!-- CONTENT END -->

    <!-- FOOTER -->
    <footer>
      <div class="footer container align-items-center" id="footer" style="max-height: 150px;">
          <h4 class="ms-auto" style="text-align: center;">Fernando Luna - Proyecto Final CoderHouse</h4>
      </div>
  </footer>
    <!-- FOOTER END -->


     <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- A plugin for password show/hide  -->
   <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>

</body>
</html>