{% extends 'base.html' %}

{% block variableTitle %}
        Blogs
      {% endblock %}

{% load static %}

{% block variableContent %}

    <!-- HOME -->
<div id="home">

    <div class="container last-posts">
      
      <div class="row">
        <div class="col-4">
          <h2 class="home-title" style="text-align: center; margin-bottom: 30px;">Todos los Blogs</h2>
        </div>
        <!-- <div class="col-4 offset-4">
          <h2 class="home-title" style="text-align: end; margin-bottom: 30px;">Filtro</h2>
        </div> -->
      </div>
      
      
          <div class="container d-flex">
            <div class="row row-cols-3 row-cols-md-3 g-4">
              



                <!-- CARDS -->

        {% for blog in blogs %}

       <div class="col">


          <div class="card blog-item" style="width: 22rem; margin-left: 50px; margin-bottom: 10px;">
            <div style="width: 100%; height: 100%;">
              <img src=" {{blog.post_img.url}} " class="card-img-top" style="object-fit: cover; max-height: 350px;">
            </div> 
            <div class="card-body">
              <h5 class="card-title">{{ blog.title }}</h5>
              <p class="card-text">{{ blog.subtitle }}</p>
              {% if blog.post_tags is not None %}
                {% for tag in blog.post_tags.all %}
              <a href="#" class="tags"><i class="bi bi-hash"></i>{{ tag }}</a>
                {% endfor %}
              {% endif %}
              <p class="card-text" style="font-size: .8em;"><small class="text-muted"><i class="bi bi-clock"></i> {{ blog.post_date }}</small></p>
              <a href="../../user/{{blog.post_author.profile.user.pk}}" style="text-decoration: none;"><p class="card-text"><small class="text-muted"><i class="bi bi-person-fill"></i> {{ blog.post_author.profile.name }} {{ blog.post_author.profile.lastname }}</small></p></a>
              <br>
              <a href="/blogs/{{blog.pk}}" class="btn btn-success">Leer más</a>
            </div>
          </div>

        </div>

        {% endfor %}
      
          </div>
        </div>
      
      </div>
      
      
      
      <!-- CARDS END -->


            
     

      </div>
      </div>
    


</div>
<!-- HOME END -->
 

{% endblock %}