{% extends 'base.html' %}

{% load static %}

{% block variableContent %}


    <!-- HOME -->
<div id="home">

    <div class="container-fluid last-posts">
      <h3 class="recent-posts">INICIO</h3>
      <div class="row">
        <div class="col-md-8">

          <div class="container inicio">
            si
          </div>
      
        </div>
  
        
        <!-- ASIDE -->

          <div class="col-md-4">
            <div class="container">

                <!-- CODER AD -->

                <div class="card bg-dark text-white coder-ad">
                  <a href="https://www.coderhouse.com/" target="_blank">
                    <img src="{% static 'img/aside.jpg' %}" class="card-img" alt="coder banner">
                  </a>
                </div>
                <!-- CODER AD -->

            </div>
          </div>
        <!-- ASIDE END -->

      </div>
    </div>
      
  </div>
<!-- HOME END -->




{% endblock %}
