{% extends 'base.html' %}

{% block variableTitle %}
        {{ post.title }}
      {% endblock %}

{% load static %}

{% block variableContent %}

    <!-- HOME -->
<div id="home">

 

 
     <!-- POST -->


    <div class="container-fluid last-posts">
      
      <div class="row">
        <div class="col-md-9 post-card">

          
          <h2>{{ post.title }}</h2>
          <h4 style="font-size: 1.3em;">{{ post.subtitle }}</h4>

          {% if post.post_tags is not None %}
                {% for tag in post.post_tags.all %}
              <a href="../tags/{{tag}}" class="tags"><i class="bi bi-hash"></i>{{ tag }}</a>
                {% endfor %}
              {% endif %}

          <h5><a href="../../user/{{post.post_author.profile.user.pk}}" style="font-size: 0.7em;"> <i class="bi bi-person-fill"></i> {{ post.post_author.profile.name }} {{ post.post_author.profile.lastname }}</a></h5>

          <h6 class="text-muted" style="font-size: 0.8em;"><i class="bi bi-clock"></i>  {{post.post_date}}</h6>


          <div class="d-flex">

            <!-- LIKES -->
              {% if user.is_authenticated %}
              <form action="{% url 'blogpost_like' object.id %}" method="POST" style="margin-right: 20px;">
                {% csrf_token %}

                {% if post_is_liked %}
                <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-danger"> <i class="bi bi-heartbreak-fill" style="font-size: 1em; color:rgb(255, 255, 255);"></i>  Ya no me gusta</button>
                {% else %}
                <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-success"> <i class="bi bi-heart-fill" style="font-size: 1em; color:rgb(255, 255, 255);"></i>  Me gusta</button>
                {% endif %}
              </form>
              {% endif %}
              <div style="padding-top: 6px;">
                <strong> <i class="bi bi-heart-fill" style="font-size: 1em; color:green;"></i>  {{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
              </div>
          </div>

          <br>

          <img src="{{ post.post_img.url }}" alt="" style="margin-bottom: 10px; max-width: 90%; max-height: 700px;">


          <p>
            {{ post.post_body }}
          </p>




          <!-- DELETE OR EDIT POST ONLY IF USER IS STAFF OR IS THE AUTHOR OF THIS BLOG -->


          {% if user.is_authenticated %}

            {% if user.is_staff or post.post_author == user %}

          <div class="d-flex justify-content-center">
            <form action="../edit/{{post.pk}}/" method="POST" style="margin-bottom: 20px ;">

              {% csrf_token %}
              <a href="blogs/edit/{{post.pk}}"><button type="" class="btn btn-success" value="Editar">Editar Post</button></a>
            </form>


          <form action="../delete/{{post.pk}}/" method="POST" style="margin-left: 15px;">

            {% csrf_token %}
            <button type="submit" class="btn btn-danger" value="Borrar">Eliminar Post</button>
          </form>
        
        </div>

            {% endif %}
          {% endif %}


        </div>
          
        <!-- END OF BLOG -->
        

        <!-- NEWSLETTER (decoration) -->

        <div class="col-md-3">

          <div class="container-fluid side-card">
            
            <div class="newsletter">
              <h6>Newsletter</h6>
              <p>Recibe semanalmente los mejores artículos de Pyblog en tu mail.</p>
              <form action="">
                <input type="email" name="" style="width: 100%; " placeholder="Ingresa tu email">
                <button type="submit" class="btn btn-outline-dark disabled">Proximamente!</button>
              </form>
            </div> 
            <p class="text-disabled">--------------------------------------------------</p>
            
            {% if user.is_authenticated %}
            

            {% else %}
            <div class="side-card-register">
              <p>Aún no estas registrado? Qué estás esperando?</p>
              <a href="../appUsers/register"><button class="btn btn-outline-success">Registrarme!</button></a>
            </div>

            {% endif %}




          </div>
  
                  <!-- CODER AD -->
  
                <div class="coder-ad container-fluid">
                    <a href="https://www.coderhouse.com/" target="_blank">
                      <img src="{% static 'img/aside.jpg' %}" class="card-img" alt="coder banner">
                    </a>      
                </div> 
                <!-- CODER AD -->
          </div>
        </div>
      </div>
              
      
      <!-- POST END -->


            
     

      </div>
      </div>
    


</div>
<!-- HOME END -->
 

{% endblock %}