{% extends 'base.html' %}

{% block variableTitle %}
  {{ user.profile.name }} {{ user.profile.lastname }}
{% endblock %}

{% load static %}

{% block variableContent %}

    <!-- HOME -->
<div id="home">

    <div class="container-fluid last-posts">
      <div class="row">

         <!-- ASIDE -->

         <div class="col-md-4">
          <div class="container profile-panel">

            <div class="row">
              <div class="col-8 offset-lg-2 profile-pic">
                <img src="{{ user.profile.user_img.url }}" alt="">
              </div>
            </div>

            <div class="row">
              <div class="col-8 offset-lg-2" style="text-align:center;">
                <h2 id="profile-name"> {{ user.profile.name }} {{ user.profile.lastname }} </h2>
              </div>
            </div>
            
            <div class="row">
              <div class="col-8 offset-lg-2" style="text-align:center; margin-bottom: 15px;">
                <h5>{{ user.profile.user_bio }}</h5>
              </div>
            </div>


            <!-- DELETE OR EDIT POST ONLY IF USER IS STAFF OR IS THE AUTHOR OF THIS BLOG -->


          {% if user.is_authenticated %}

          {% if request.user == user.profile.user %}

          {% if user.is_staff or user.pk == user.profile.user_id %}

        <div class="d-flex justify-content-center" style="margin-top: 15px;">


          <form action="../edit/{{request.user.profile.id}}/" method="POST" style="margin-bottom: 20px ;">

            {% csrf_token %}
            <a href="../edit/{{request.user.profile.id}}/">
              <button type="submit" class="btn btn-success" value="Editar">Editar Perfil</button>
            </a>
          </form>


        <form action="../delete/{{request.user.pk}}/" method="POST" style="margin-left: 20px;">

          {% csrf_token %}
          <a href="../delete/{{request.user.pk}}/">
          <button type="submit" class="btn btn-danger" value="Borrar">Eliminar Perfil</button>
        </a>
        </form>
      
        </div>
          {% endif %}
          {% endif %}
        {% endif %}

        
               
          </div>
        </div>
          <!-- ASIDE END -->



        <div class="col-md-8">
          <div class="row">

    <!-- Elementos visibles solo para el usuario logeado -->

    {% if user.is_authenticated %}

      {% if request.user == user.profile.user %}

            <div class="col-9">
              <h3 class="recent-posts home-title">Mis Blogs</h3>
            </div>
            <div class="col-3">

              <a href="../../blogs/new/"><button type="button" class="btn btn-success"><i class="bi bi-plus" style="color:white;"></i>Nuevo Post</button></a>
            
            </div>
            

      {% else %}   
      <div class="col-9">
        <h3 class="recent-posts home-title">Blogs de {{user.profile.name}}</h3>
      </div>   
      {% endif %}
    {% endif %}


          </div>
          <div class="container d-flex">
            <div class="row row-cols-2 row-cols-md-2 g-4">
              

              {% for blog in blogs %}

                {% if blog.post_author == user %}
     

                <div class="card mb-3" style="max-width: 700px; width: 100%;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{blog.post_img.url}}" class="img-fluid rounded-start" style="object-fit: contain; height: 100%; width: 100%;">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.subtitle }}</p>
                          {% if blog.post_tags is not None %}
                            {% for tag in blog.post_tags.all %}
                          <a href="../../blogs/tags/{{tag.name}}" class="tags"><i class="bi bi-hash"></i>{{ tag }}</a>
                            {% endfor %}
                          {% endif %}
                        <a href="../../user/{{user.pk}}" style="text-decoration: none;"><p class="card-text"><small class="text-muted"><i class="bi bi-person-fill"></i> {{ blog.post_author.profile.name }} {{ blog.post_author.profile.lastname }}</small></p></a>
                      <br>
                      <a href="/blogs/{{blog.pk}}" class="btn btn-success">Leer más</a>
                      </div>
                    </div>
                  </div>
                </div>

                  {% endif %}
                {% endfor %}
      
          </div>
        </div>
      </div>
      
      
      
      <!-- CARDS END -->


            
     

      </div>
      </div>
    


</div>
<!-- HOME END -->
 

{% endblock %}